.GalleryImage {
  margin: 5px;
  max-width: 300px;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 220px;
  min-height: 120px
}

.GalleryImage img {
  width: 100%;
}

.GalleryImage div div {
  bottom: 5px;
}

.GalleryPage {
  display: none
}

.GalleryPage.GalleryLoaded {
  display: block
}

.GalleryLoadingMore {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center
}